#popuplar-bookmarks{
	li{
		margin: 10px;
	}
	.load-more{
		&:hover{
			cursor:pointer;
		}
	}
}

#login{
	width: 25em;
	margin-top: 3em;
	padding: 6px 10px;
	border-radius: 3px;
	background-color: rgba(239, 239, 239, 0.71);
	form{
		input{
			margin-bottom: 5px;
		}
	}
}

#signup-page{
	width: 25em;
	margin-top: 3em;
	padding: 6px 10px;
	border-radius: 3px;
	background-color: rgba(239, 239, 239, 0.71);
	form{
		input{
			margin-bottom: 5px;
		}
		.error{
			display: inline-block;
			width: 100%;
		}
	}
}

#home{
	li{
		margin: 10px;
	}
}

#new-bookmark{
	width: 30em;
	background-color: rgba(239, 239, 239, 0.71);
	padding: 6px 10px;
	border-radius: 3px;
	margin-top: 3em;
	input{
		margin-bottom: 5px;
	}
}
